@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'tailwindcss/components';

@import './utilities.css';
/* @import './components.css';  */

html {
  scroll-behavior: smooth;
}

.blink {
  animation: blinker 0.95s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  transform: translate(-50%, -50%);
}
