/* border */
.border-1 {
  border-width: 1px;
}

/* font color */
.text-white-us {
  color: #fafafa;
}

.text-light-gray-us {
  color: #aca9bb;
}

.text-gray-us {
  color: #6e7378;
}

.text-gray-444 {
  color: #444;
}

.text-cyan-us {
  color: #00c6b3;
}

.text-black-us {
  color: #1f2327;
}

/* background color */
.bg-white-us {
  background-color: #fafafa;
}

.bg-gray-50 {
  background-color: #edf2f780;
}

.bg-gray-eee {
  background-color: #eee;
}

.bg-black-us {
  background-color: #1f2327;
}

.bg-black-us-80 {
  background-color: #1f2327cc;
}

/* border color */
.border-light-gray-us {
  border-color: #aca9bb;
}

.border-blue-us {
  border-color: #2f4252;
}

.border-cyan-us {
  border-color: #00c6b3;
}

.border-gray-ddd {
  border-color: #ddd;
}

.border-b-gray-200 {
  border-bottom: 1px solid #edf2f7;
}

/* hover */
.link:hover {
  color: #00c6b3;
  text-decoration: underline;
  transition: all 0.4s;
}

/* fonts */
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

/* transition */
.transition-all-4 {
  transition: all 0.4s ease;
}

/* top */
.top-50 {
  top: 50%;
}

/* left */
.left-50 {
  left: 50%;
}

/* width */
.max-w-xxl {
  max-width: 41rem;
}

/* height */
.max-h-64 {
  max-height: 14rem;
}

/* app minus navbar height */
.app-container {
  height: calc(100vh - 24px);
}
